# Directories
/[Bb]uild
/out

# Files
*.out
*.exe
*.pdb
*.log
fenix_editor

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# VSCode clutter
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/fenix.code-snippets
