# Directories
/[Bb]uild
/out

# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# VSCode clutter
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Files
*.out
*.exe
*.log
